@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Poppins&family=Rubik&display=swap');

main, body, html {
  height: 100%;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
}

.hover-logo:hover {
  background-color: #141414;
  border-radius: 10rem;
}
samp{
  color: #062242;
}